/Lab01Moviles/nbproject/private/
/Front/UniversidadWeb/nbproject/private/
/Database/Library/Lab01Moviles/nbproject/private/
/Database/Library/Lab01Moviles/build/
/Database/Library/Lab01Moviles/dist/
/BackEnd/UniversidadBackEnd/nbproject/private/
/FrontEnd/UniversidadDesktop/nbproject/private/
/BackEnd/UniversidadBackEnd/build/
/FrontEnd/UniversidadDesktop/build/
/BackEnd/UniversidadBackEnd/dist/
/FrontEnd/UniversidadDesktop/dist/
/FrontEnd/UniversidadWeb/dist/