<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServicioAgregarCarrera</servlet-name>
        <servlet-class>Servicio.ServicioAgregarCarrera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioAgregarCurso</servlet-name>
        <servlet-class>Servicio.ServicioAgregarCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioLogin</servlet-name>
        <servlet-class>Servicio.ServicioLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioListCarrera</servlet-name>
        <servlet-class>Servicio.ServicioListCarrera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioListarCurso</servlet-name>
        <servlet-class>Servicio.ServicioListarCurso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServicioAgregarCarrera</servlet-name>
        <url-pattern>/ServicioAgregarCarrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioAgregarCurso</servlet-name>
        <url-pattern>/ServicioAgregarCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioLogin</servlet-name>
        <url-pattern>/ServicioLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioListCarrera</servlet-name>
        <url-pattern>/ServicioListCarrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioListarCurso</servlet-name>
        <url-pattern>/ServicioListarCurso</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
